<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="navbar-nav" *ngIf="token.getIsAuthenticated() else login">
    <a class="nav-item nav-link" routerLink="/admin-page">Home</a>
      <a class="nav-item nav-link" routerLink="/list-products">Import Data</a>
      <a class="nav-item nav-link" routerLink="/add-product">Manage Company</a>
      <a class="nav-item nav-link" routerLink="/show-product"> Manage Exchange</a>
      <a class="nav-item nav-link" routerLink="/upload-products"> Update IPO details</a>
     <a class="nav-item nav-link" href="#" (click)="logout();">Logout</a>
  </div>
  
  <ng-template #login>
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/login"> Login</a>
      </div>
  </ng-template>

</nav>