<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/admin-page">Home</a>
    <a class="nav-item nav-link" routerLink="/add-company">Add Company</a>
  </div>
</nav>

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h1>Company List</h1>
          <form>
              <div class="form-group">
                  <label>Search</label>
                  <input class="form-control" id="companylist" (keyup)="filterThroughList();" name="companylist"
                      [(ngModel)]="inputFromUser">                  
                </div>
          </form>
      </div>
  </div>
</div>


<ul class="list-unstyled" *ngIf="loaded && companies?.length > 0">
  <li class="card card-body mb-2" *ngFor='let company of companies' [class.bg-light]="company.active" [style.border-color]="company.active ? 'green' : ''">
    <h4>{{ company.companyName }} {{ company.companyCode }} 
      <small><button (click)=" deleteCompany($event, company.companyId);" class="btn-dark bnt-sm mr-2" >Delete</button></small>
      <small><button (click)=" deactivateCompany($event, company.companyId);" class="btn-dark bnt-sm mr-2" >Activate/Deactivate</button></small>
      <a [routerLink]="['/edit-product', company.companyId]" ><small><button  class="btn-dark bnt-sm mr-2" >Edit</button></small></a>
    </h4>
    <ul class="list-group" >
      <li class="list-group-item ">CEO: {{ company.ceo }}</li>
      <li class="list-group-item ">BoD: {{ company.boardOfDirectors }}</li>
      <li class="list-group-item ">Turnover: {{ company.turnover }}</li>
      <li class="list-group-item ">Sector: {{ company.sector }}</li>
      <li class="list-group-item ">Current stock price: {{ company.currentStockPrice }}</li>
    </ul>
</ul>

<h3 *ngIf="companies?.length == 0 ">No companies found</h3>
<h3 *ngIf="!loaded">Loading companies...</h3>
