<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/admin-page"> Home</a> 
  </div>

</nav>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <input type="file" id="upload" class="form-control" name="upload" multiple="false" (change)="fileSelected($event);"/>
          <button type="button" class="btn btn-lg btn-primary" (click)="upload();">Upload</button>
      
      </div>
  </div>
</div>
