<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/user-page">Home</a>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #frm="ngForm">
        <div class="form-group">
          <label>Choose Comparison Type</label>
          <select id="comparisontype" 
            class="form-control" 
            name="comparisonType" 
            [(ngModel)]="selectedComparison">
            <option value='1'>Single Company</option>
            <option value='2'>Company-Company</option>
            <option value='3'>Sector-Sector</option>
            <option value='4'>Companies</option>
          </select>
        </div>
        <div class="form-group">
          <div class="form-group" *ngIf="selectedComparison != '4'">
            <label *ngIf="selectedComparison == '2' || selectedComparison == '1'">Company 1</label>
            <label *ngIf="selectedComparison == '3' " >Sector 1</label>
            <input type="text" class="form-control" id="entity1" name="entity1" [(ngModel)]="name1"/>   
          </div>
          <div class="form-group" *ngIf="selectedComparison != '1' && selectedComparison !='4'">
            <label *ngIf="selectedComparison == '2' ">Company 2</label>
            <label *ngIf="selectedComparison == '3' ">Sector 2</label>
            <input type="text" class="form-control" id="entity2" name="entity2" [(ngModel)]="name2" />
          </div>
          <div class="form-group">
            <label>From Date</label>
            <input type="datetime-local" class="form-control" id="fromDate1" name="fromDate1" [(ngModel)]="fromDate1" required>
          </div>
          <div class="form-group">
            <label>To Date</label>
            <input type="datetime-local" class="form-control" id="toDate1" name="toDate1" [(ngModel)]="toDate1" required>
          </div>
        </div>
        <div class="form-group">
          
          <!-- <div class="form-group">
            <label>From Date 2</label>
            <input type="datetime-local" class="form-control" id="fromDate2" name="fromDate2" [(ngModel)]="fromDate2" >
          </div>
          <div class="form-group">
            <label>From Date 2</label>
            <input type="datetime-local" class="form-control" id="toDate2" name="toDate2" [(ngModel)]="toDate2" >
          </div> -->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="GenerateMap();" [disabled]="!frm.valid" >Generate Map</button>
       </div>
      </form>


    <div *ngIf="displayChart">
      <div class="form-group">
        <label>Choose Chart types</label>
        <select id="chartType" 
                class="form-control mb-3" 
                name="chartType" 
                [(ngModel)]="chartType">
            <option value='bar'>Bar</option>
            <option value='line'>Line</option>
            <option value='pie'>Pie</option>
            <option value='doughnut'>Doughnut</option>
            <option value='polarArea'>Polar Area</option>
            <option value='bubble'>Bubble</option>
            <option value='scatter'>Scatter</option>
        </select>
    </div>
    <canvas baseChart 
    [labels]="xAxesLabels" 
    [legend]="showLegends"
     [chartType]="chartType"
        [datasets]="dataSets" 
        [options]="options">
  
    </canvas>
    </div>
    <div class="form-group mb-3">
      <button type="submit" class="btn btn-primary" (click)="Refresh();">Refresh</button>
    </div>
    <div>
      <div class="form-group">
        <!-- <button type="submit" class="btn btn-primary" (click)="Export();">Export Data</button> -->
     </div>
    </div>
    </div>
  </div>
</div>

